*, *::before, *::after {
  box-sizing: border-box; }

.anchorBL {
  display: none; }

.BMap_cpyCtrl {
  display: none; }

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.changeCss {
  background-color: #f5f7fb; }

.Img-opacity {
  opacity: 1 !important; }

.changeColor {
  border-color: rgba(0, 40, 100, 0.12) !important; }

.changeBorderColor {
  border-color: #45aaf2 !important; }

.rotate {
  -webkit-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
  -webkit-transition: -webkit-transform .2s linear !important;
  transition: transform .2s linear !important; }

textarea {
  overflow: auto;
  resize: vertical; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1.1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit; }

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; }

a, i {
  -webkit-transition: .2s color;
  -moz-transition: .2s color;
  -ms-transition: .2s color;
  -o-transition: .2s color;
  transition: .2s color; }

.card-bodys {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 2.4rem 2.4rem;
  position: relative; }
  .card-bodys a {
    color: #467fcf; }
  .card-bodys a:hover {
    color: #6574cd !important;
    text-decoration: underline; }

a:hover:not(.list-group-item):not(.btn) {
  color: #444444 !important; }
  a:hover:not(.list-group-item):not(.btn) i:not(.mr-2) {
    color: #444444 !important; }

.card-bodyss {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 1rem 2rem;
  position: relative; }

address {
  margin-bottom: 1.6rem;
  font-style: normal;
  line-height: inherit; }

p {
  margin-top: 0;
  margin-bottom: 1.6rem; }

p, ul, ol, blockquote {
  margin-bottom: 1em; }

li {
  line-height: 1.8; }

img {
  vertical-align: middle;
  border-style: none; }

.form-group {
  margin-bottom: 1.6rem; }

.form-group {
  display: block; }

.pl-2, .px-2 {
  padding-left: 0.8rem !important; }

i {
  font-size: 16px; }

.pr-2, .px-2 {
  padding-right: 0.8rem !important; }

.gutters-sm {
  margin-right: -0.8rem;
  margin-left: -0.8rem; }

.form-control {
  display: block;
  width: 100%;
  padding: .8rem 1.2rem;
  font-size: 13px;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-label-small {
  float: right;
  font-weight: 400;
  font-size: 87.5%; }

select.form-control:not([size]):not([multiple]) {
  height: 3.8rem; }

.input-icon .form-control:not(:first-child) {
  padding-left: 3.8rem; }

.LJ:hover {
  border-color: #444444 !important; }

.icon {
  color: #9aa0ac !important; }

.glass {
  font-size: 16px; }

.d-none {
  display: none !important; }

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important; }

.dropdown {
  display: inline-block;
  position: relative; }

.card-header {
  padding: 2.4rem 2.4rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 40, 100, 0.12); }

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 1.2rem;
  position: relative;
  text-align: center; }

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

.text-muted {
  color: #9aa0ac !important; }
  .text-muted a {
    font-size: 12px; }

.imagecheck {
  border: 2.5px solid transparent;
  border-radius: 5px;
  margin: 0;
  position: relative;
  cursor: pointer; }

.imagecheck-figure {
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  margin: 0;
  position: relative; }

.imagecheck-image {
  max-width: 100%;
  opacity: .64;
  transition: .3s opacity; }

.imagecheck:hover .imagecheck-image, .imagecheck-input:focus ~ .imagecheck-figure .imagecheck-image, .imagecheck-input:checked ~ .imagecheck-figure .imagecheck-image {
  opacity: 1; }

.imagecheck-input:checked ~ .imagecheck-figure {
  border-color: rgba(0, 40, 100, 0.24); }

.imagecheck-image:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.imagecheck-image:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

label {
  display: inline-block;
  margin-bottom: .8rem; }

.mt-1, .my-1 {
  margin-top: 0.4rem !important; }

.ml-2, .mx-2 {
  margin-left: .8rem !important; }

.ml-3, .mx-3 {
  margin-left: 1.2rem !important; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

figure {
  margin: 0 0 1.6rem;
  display: block; }

a.icon {
  text-decoration: none;
  cursor: pointer; }

.icon {
  color: #9aa0ac !important; }

small, .small {
  font-size: 84.5%;
  font-weight: 400; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 15px; }

h6, .h6 {
  font-size: 13px; }

.col-6 {
  ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

.colorinput {
  margin: 0;
  position: relative;
  cursor: pointer; }

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; }

.input-group-prepend, .input-group-append {
  display: -ms-flexbox;
  display: flex; }

.input-group-append {
  margin-left: -1px; }

.input-group-prepend, .input-group-append, .input-group-btn {
  font-size: 15px; }

.p-3 {
  padding: 1.2rem !important; }

.mb-0, .my-0 {
  margin-bottom: 0 !important; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.btn-block {
  display: block;
  width: 100%; }

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit; }
  .list-group-item-action i {
    font-weight: 300; }

.list-group-item {
  position: relative;
  display: block;
  padding: 1.2rem 1.92rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12); }

.list-group-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0; }
  .list-group i {
    font-size: 14px; }

.list-group-transparent .list-group-item {
  background: none;
  border: 0;
  padding: .8rem 1.6rem;
  border-radius: 3px; }

.list-group-transparent .list-group-item.active {
  background: rgba(70, 127, 207, 0.06);
  font-weight: bolder; }

.list-group-item.active {
  z-index: 2;
  color: #467fcf;
  background-color: #f8fafd;
  border-color: rgba(0, 40, 100, 0.12); }

.list-group-item.active .icon {
  color: inherit !important; }

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.footer a:not(.btn) {
  color: #6e7687; }

.mt-4, .my-4 {
  margin-top: 1.6rem !important; }

.mt-6, .my-6 {
  margin-top: 3.2rem !important; }

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important; }

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

.input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0; }

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto !important;
  max-width: none;
  position: relative;
  min-height: 1px;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

.imagecheck-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }

.list-inline-item:not(:last-child) {
  margin-right: 0.8rem; }

.btn-hub:hover {
  background-color: #316cbe !important; }

.btn-primary:hover {
  background-color: #316cbe !important; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  line-height: 1.84615385;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .048em;
  font-size: 11px;
  min-width: 2.6rem; }

.btn-primary {
  color: #fff;
  background-color: #467fcf;
  border-color: #467fcf; }

.btn-sm, .btn-group-sm > .btn {
  padding: 0.6rem 0.8rem;
  font-size: 11px;
  line-height: 1.33333333;
  border-radius: 3px; }

.btn:hover {
  background-color: #467fcf;
  color: #ffffff !important; }

.btn-outline-primary {
  color: #467fcf;
  background-color: transparent;
  background-image: none;
  border-color: #467fcf; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.mt-3, .my-3 {
  margin-top: 1.2rem !important; }

.text-center {
  text-align: center !important; }

.container {
  width: 100%;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-right: auto;
  margin-left: auto; }

.pub-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

.page-header {
  display: flex;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  margin: 2.4rem 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap !important; }
  .page-header .page-title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 4rem; }

.page-subtitle {
  font-size: 11px;
  color: #6e7687;
  margin-left: 3.2rem;
  margin-right: 3.2rem; }

.page-options {
  margin-left: auto !important; }

.custom-select {
  display: inline-block;
  width: 100%;
  height: 3.8rem;
  padding: .8rem 2.8rem 0.8rem 1.2rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-size: 8px 10px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' viewBox='0 0 10 5'%3E%3Cpath fill='#999' d='M0 0L10 0L5 5L0 0'/%3E%3C/svg%3E") no-repeat right 1rem center; }

.w-auto {
  width: auto !important; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px; }

.card-header {
  background: none;
  padding: 0.8rem 2.4rem;
  display: -ms-flexbox;
  display: flex;
  min-height: 5.6rem;
  -ms-flex-align: center;
  align-items: center; }

.card-footer {
  padding: 2.4rem 2.4rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 40, 100, 0.12); }

.card-footer:last-child {
  border-radius: 0 0 calc(3px - 1px) calc(3px - 1px); }

img {
  max-width: 100%; }

.avatar {
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 50%;
  display: inline-block;
  background: #ced4da no-repeat center/cover;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 600;
  vertical-align: bottom;
  font-size: 14px; }

.avatar-md {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 16px; }

.mr-1, .mx-1 {
  margin-right: 0.25rem !important; }

.mr-3, .mx-3 {
  margin-right: 1.2rem !important; }

.mb-4 {
  margin-bottom: 1.6rem !important; }

.mb-6, .my-6 {
  margin-bottom: 3.2rem !important; }

.mr-2, .mx-2 {
  margin-right: 0.8rem !important; }

.text-default {
  color: #495057 !important; }

.d-block {
  display: block !important; }

.text-wrap {
  font-size: 14px;
  line-height: 1.66; }

.mt-0, .my-0 {
  margin-top: 0 !important; }

.setup-environment {
  margin-top: 1em; }

.card-header .card-title {
  margin-bottom: 0; }

.card-title:only-child {
  margin-bottom: 0; }

code {
  font-size: 90%;
  color: inherit;
  word-break: break-word; }

code, kbd, pre, samp {
  font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

code {
  background: rgba(0, 0, 0, 0.025);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 3px; }

.text-wrap > h1, .text-wrap > h2, .text-wrap > h3, .text-wrap > h4, .text-wrap > h5, .text-wrap > h6 {
  margin-top: 1em; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.8rem 0;
  margin: 0.2rem 0 0;
  font-size: 13px;
  color: #495057;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px; }

.dropdown-menu-arrow:before {
  position: absolute;
  top: -6px;
  left: 12px;
  display: inline-block;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 40, 100, 0.12);
  border-left: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''; }

.dropdown-menu-arrow:after {
  position: absolute;
  top: -5px;
  left: 12px;
  display: inline-block;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  content: ''; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.4rem 2.4rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }

.dropdown-item:hover {
  background-color: #f5f7fb; }

.dropdown-icon {
  color: #9aa0ac;
  margin-right: .8rem;
  margin-left: -.8rem;
  width: 1em;
  display: inline-block;
  text-align: center;
  vertical-align: -1px; }

.dropdown-divider {
  height: 0;
  margin: 0.8rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef; }

.alert {
  position: relative;
  padding: 1.2rem 1.92rem;
  margin-bottom: 1.6rem;
  border: 1px solid transparent;
  border-radius: 3px; }

.alert-success {
  color: #316100;
  background-color: #dff1cc;
  border-color: #d2ecb8; }

.alert-warning {
  color: #7d6608;
  background-color: #fcf3cf;
  border-color: #fbeebc; }

.alert-danger {
  color: #6b1110;
  background-color: #f5d2d2;
  border-color: #f1c1c0; }

.dropdown-menu.show {
  display: none; }

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.dropdown-menu {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  min-width: 19.2rem; }

.dropdown-item {
  color: #6e7687; }

.header .dropdown-menu {
  margin-top: 1.2rem; }

.card-title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400; }

.card-header:first-child {
  border-radius: calc(3px - 1px) calc(3px - 1px) 0 0; }

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0;
  line-height: 1.6;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0; }

.form-label {
  display: block;
  margin-bottom: .6rem;
  font-weight: 600;
  font-size: 14px; }

.colorinput-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.colorinput-color {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); }

.bg-azure {
  background-color: #45aaf2 !important; }

.bg-indigo {
  background-color: #6574cd !important; }

.bg-purple {
  background-color: #a55eea !important; }

.bg-pink {
  background-color: #f66d9b !important; }

.bg-red {
  background-color: #cd201f !important; }

.bg-orange {
  background-color: #fd9644 !important; }

.bg-yellow {
  background-color: #f1c40f !important; }

.bg-lime {
  background-color: #7bd235 !important; }

.bg-green {
  background-color: #5eba00 !important; }

.bg-teal {
  background-color: #2bcbba !important; }

.bg-blue {
  background-color: #467fcf !important; }

.colorinput-input:checked ~ .colorinput-color:before {
  opacity: 1; }

.colorinput-color:before {
  content: '';
  opacity: 0;
  position: absolute;
  top: .4rem;
  left: .4rem;
  height: 2rem;
  width: 2rem;
  transition: .3s opacity;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%; }

.col-autos {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.m-0 {
  margin: 0; }

.card-options-collapse i {
  display: inline-block; }

.card-options-remove i {
  display: inline-block; }

.card-options-remove:hover i {
  -webkit-transform: rotate(360deg) !important;
  transform: rotate(360deg) !important;
  -webkit-transition: -webkit-transform .8s linear !important;
  transition: transform .8s linear !important; }

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%; }
  .page .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1.2rem;
    margin-left: -1.2rem; }
  .page .page-main {
    flex: 1 1 auto; }
    .page .page-main header {
      background-color: #fff;
      border-bottom: 1px solid rgba(0, 40, 100, 0.12);
      padding: 1.4rem 0; }
      .page .page-main header .container .d-flex {
        display: flex; }
        .page .page-main header .container .d-flex .logoBox {
          margin-right: 1.6rem;
          transition: .3s opacity; }
          .page .page-main header .container .d-flex .logoBox img {
            height: 3.2rem;
            line-height: 3.2rem;
            vertical-align: bottom;
            margin-right: .8rem;
            margin-top: .2rem;
            width: auto; }
        .page .page-main header .container .d-flex .header-tooger {
          font-size: 20px;
          position: relative;
          margin: auto 0;
          margin-right: .8rem;
          color: #9aa0ac;
          margin-left: 1.7rem; }
    .page .page-main .content {
      margin-bottom: 1.2rem;
      margin-top: 1.2rem; }
      .page .page-main .content .card .card-body .text-green {
        color: #5eba00 !important;
        font-size: 13px; }
      .page .page-main .content .card .card-body .text-red {
        color: #cd201f !important;
        font-size: 13px; }
      .page .page-main .content .card .card-body .text-right {
        text-align: right !important; }
      .page .page-main .content .card .card-body h1 {
        font-size: 25px; }
      .page .page-main .content .row .row-cardsBox {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column; }
      .page .page-main .content .row .Beijing-map {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 1.2rem;
        padding-left: 1.2rem; }
        .page .page-main .content .row .Beijing-map .map {
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          position: relative;
          margin-bottom: 2.4rem;
          width: 100%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column;
          min-width: 0;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid rgba(0, 40, 100, 0.12);
          border-radius: 3px; }
          .page .page-main .content .row .Beijing-map .map .Beijing-header {
            background: none;
            padding: .8rem 2.4rem;
            display: -ms-flexbox;
            display: flex;
            min-height: 5.6rem;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(0, 40, 100, 0.12); }
            .page .page-main .content .row .Beijing-map .map .Beijing-header .Beijing-title {
              font-size: 21px;
              line-height: 1.2;
              font-weight: 400;
              margin-bottom: 0; }
          .page .page-main .content .row .Beijing-map .map .Beijing-echarts-BmapBox {
            width: 100%;
            height: 20rem;
            max-height: 200px;
            position: relative;
            padding: .8rem 1rem;
            verflow-x: auto; }
          .page .page-main .content .row .Beijing-map .map .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto; }
            .page .page-main .content .row .Beijing-map .map .table-responsive .card-table {
              margin-bottom: 0;
              width: 100%;
              max-width: 100%;
              background-color: transparent;
              border-collapse: collapse; }
              .page .page-main .content .row .Beijing-map .map .table-responsive .card-table thead tr th {
                border-top: 0;
                padding: 1.8rem;
                padding-top: .8rem;
                padding-bottom: .8rem;
                vertical-align: bottom;
                border-bottom: 1px solid #dee2e6;
                color: #9aa0ac;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400; }
              .page .page-main .content .row .Beijing-map .map .table-responsive .card-table thead tr th:first-child {
                padding-left: 2.4rem; }
              .page .page-main .content .row .Beijing-map .map .table-responsive .card-table thead tr th:last-child {
                padding-right: 2.4rem; }
              .page .page-main .content .row .Beijing-map .map .table-responsive .card-table tbody td {
                vertical-align: middle;
                padding: 1.2rem 1.8rem; }
              .page .page-main .content .row .Beijing-map .map .table-responsive .card-table tbody td:first-child {
                padding-left: 2.4rem; }
              .page .page-main .content .row .Beijing-map .map .table-responsive .card-table tbody .text-nowrap {
                white-space: nowrap !important; }
              .page .page-main .content .row .Beijing-map .map .table-responsive .card-table tbody td:last-child {
                padding-right: 2.4rem; }
                .page .page-main .content .row .Beijing-map .map .table-responsive .card-table tbody td:last-child .icon {
                  color: #9aa0ac !important; }
      .page .page-main .content .row .col-md-6 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column; }
        .page .page-main .content .row .col-md-6 .alert {
          color: #24426c;
          background-color: #dae5f5;
          border-color: #cbdbf2; }
          .page .page-main .content .row .col-md-6 .alert .alert-link {
            font-weight: 600;
            color: #172b46; }
        .page .page-main .content .row .col-md-6 .row .pub-col .card-header {
          background: none;
          padding: 1.4rem 2.4rem;
          display: -ms-flexbox;
          display: flex;
          min-height: 3rem;
          -ms-flex-align: center;
          align-items: center;
          border-bottom: 1px solid rgba(0, 40, 100, 0.12); }
          .page .page-main .content .row .col-md-6 .row .pub-col .card-header .card-title {
            margin-bottom: 0; }
        .page .page-main .content .row .col-md-6 .row .pub-col .card-bodyBox {
          width: 100%;
          height: 21.1rem;
          max-height: 300px;
          position: relative;
          padding: 1rem 2.1rem 1.7rem; }
        .page .page-main .content .row .col-md-6 .row .pub-col .rote {
          height: 25rem; }
      .page .page-main .content .row-deck .card-aside {
        flex-direction: row;
        flex: 1 1 auto; }
        .page .page-main .content .row-deck .card-aside .card-aside-column {
          min-width: 8rem;
          width: 30%;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          background: no-repeat center/cover; }
        .page .page-main .content .row-deck .card-aside .flex-column {
          -ms-flex-direction: column !important;
          flex-direction: column !important;
          text-align: left;
          padding: 2.4rem; }
          .page .page-main .content .row-deck .card-aside .flex-column a {
            color: inherit; }
          .page .page-main .content .row-deck .card-aside .flex-column .mt-auto, .page .page-main .content .row-deck .card-aside .flex-column .my-auto {
            margin-top: auto !important; }
          .page .page-main .content .row-deck .card-aside .flex-column .pt-5, .page .page-main .content .row-deck .card-aside .flex-column .py-5 {
            padding-top: 2.4rem !important; }
      .page .page-main .content #Gauge {
        width: 100%;
        height: 25.6rem;
        max-height: 300px;
        position: relative;
        padding: 1rem 2.4rem 2.4rem; }
  .page .footer {
    background: #fff;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    font-size: 13px;
    padding: 2rem 0;
    color: #9aa0ac; }
    .page .footer a:not(.btn) {
      transition: .2s border-color;
      border-bottom: 1px solid transparent; }
    .page .footer a:hover:not(.btn) {
      border-color: #444444; }

.nav-link, .nav-item {
  padding: 0 1.2rem;
  min-width: 3.2rem;
  transition: .3s color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .nav-link .lingzi, .nav-item .lingzi {
    font-size: 18px;
    transition: color 0.25s; }

.nav-unread {
  position: absolute;
  top: .4rem;
  right: .4rem;
  background: #cd201f;
  width: .8rem;
  height: .8rem;
  border-radius: 50%; }

.leading-none {
  line-height: 1 !important; }

.pr-0, .px-0 {
  padding-right: 0 !important; }

.lingziBox-hover:hover .lingzi {
  color: #444; }

.card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 2.4rem;
  width: 100%; }

.card-alert {
  border-radius: 0;
  margin: -1px -1px 0; }

.card-flex {
  display: none; }

.ml-auto, .mx-auto {
  margin-left: auto !important; }

.input-icon {
  position: relative; }

.media-body {
  -ms-flex: 1;
  flex: 1; }

.mb-3, .my-3 {
  margin-bottom: 1.2rem !important; }

.mt-3, .my-3 {
  margin-top: 1.2rem !important; }

.rounded {
  border-radius: 3px !important; }

.now-wrap {
  white-space: nowrap; }

.imagecheck-figure:before {
  content: '';
  position: absolute;
  top: .4rem;
  left: .4rem;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #467fcf url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%;
  color: #fff;
  z-index: 1;
  border-radius: 3px;
  opacity: 0;
  transition: .3s opacity; }

.imagecheck-input:checked ~ .imagecheck-figure:before {
  opacity: 1; }

.gutters-sm > .col, .gutters-sm > [class*="col-"] {
  padding-right: 0.8rem;
  padding-left: 0.8rem; }

.gutters-xs {
  margin-right: -0.4rem !important;
  margin-left: -0.4rem !important; }

.gutters-xs > .col, .gutters-xs > [class*="col-"] {
  padding-right: 0.4rem;
  padding-left: 0.4rem; }

.card-footer, .card-bottom {
  padding: 1.6rem 2.4rem;
  background: none; }

.card-footer {
  border-top: 1px solid rgba(0, 40, 100, 0.12);
  color: #6e7687; }

.card-status {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 3px;
  border-radius: 3px 3px 0 0;
  background: rgba(0, 40, 100, 0.12); }

.card-status-left {
  right: auto;
  bottom: 0;
  height: auto;
  width: 3px;
  border-radius: 3px 0 0 3px; }

.custom-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0; }

.custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-switch-indicator {
  display: inline-block;
  height: 2rem;
  width: 3.6rem;
  background: #e9ecef;
  border-radius: 50px;
  position: relative;
  vertical-align: bottom;
  border: 1px solid rgba(0, 40, 100, 0.12);
  transition: .3s border-color, .3s background-color; }

.custom-switch-input:checked ~ .custom-switch-indicator {
  background: #467fcf; }

.custom-switch-indicator:before {
  content: '';
  position: absolute;
  height: calc(2rem - 4px);
  width: calc(2rem - 4px);
  top: 1px;
  left: 1px;
  background: #fff;
  border-radius: 50%;
  transition: .3s left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }

.custom-switch-input:checked ~ .custom-switch-indicator:before {
  left: calc(1.6rem + 1px); }

.dropdown-menu-arrow.dropdown-menu-right:before, .dropdown-menu-arrow.dropdown-menu-right:after {
  left: auto;
  right: 12px; }

.dropdown-menu-arrow.dropdown-menu-rights:before, .dropdown-menu-arrow.dropdown-menu-rights:after {
  left: auto;
  right: 12px; }

.card-map {
  height: 24rem;
  background: #e9ecef; }

.card-map-placeholder {
  background: no-repeat center; }

.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start; }

.mb-5, .my-5 {
  margin-bottom: 2.4rem !important; }

.mr-5, .mx-5 {
  margin-right: 2.4rem !important; }

.card-bodys > :last-child {
  margin-bottom: 0; }

#worldMap {
  height: 27rem; }

#chinaMap {
  height: 25rem; }

.col-lg-map {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px; }

  .col-sm-4 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; }

  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important; }

  .col-md-66 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .d-md-inline-block {
    display: inline-block !important; }

  #worldMap {
    height: 35rem; }

  #chinaMap {
    height: 25.3rem; } }
.header {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background: #fff;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12); }

.p-0 {
  padding: 0 !important; }

.collapse {
  display: none; }

.input-icon .form-control:not(:last-child) {
  padding-right: 4rem; }

.input-icon-addon:last-child {
  left: auto;
  right: 0; }

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #9aa0ac;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 4rem;
  pointer-events: none; }

.nav-tabs {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9aa0ac;
  margin: 0 -1.2rem; }

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.border-0 {
  border: 0 !important; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-tabs .nav-item {
  margin-bottom: -1px; }

.nav-tabs .nav-item {
  margin-bottom: 0;
  position: relative; }

.nav-tabs .nav-link.active {
  border-color: #467fcf;
  color: #467fcf;
  background: transparent; }

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.nav-tabs .nav-link {
  border: 0;
  color: inherit;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: .3s border-color;
  font-weight: 400;
  padding: 1.6rem 0; }

.nav-tabs .nav-item i {
  margin-right: .4rem;
  line-height: 1;
  font-size: 15px;
  vertical-align: baseline;
  display: inline-block; }

.dropdown {
  display: inline-block; }

.card-options {
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-order: 100;
  order: 100;
  margin-right: -.8rem;
  color: #9aa0ac;
  -ms-flex-item-align: center;
  align-self: center; }

.card-options a {
  margin-left: .8rem;
  color: #9aa0ac;
  display: inline-block;
  min-width: 1.6rem;
  transition: 0s color !important; }

.card-options a i {
  font-size: 12px;
  vertical-align: middle;
  transition: 0s color; }

@media (min-width: 992px) {
  .container {
    max-width: 960px; }

  .dropdown-menu-right {
    transform: translate3d(-144px, 32px, 0px) !important; }

  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important; }

  .d-lg-block {
    display: block !important; }

  .order-lg-first {
    -ms-flex-order: -1;
    order: -1; }

  .card-bd {
    height: 23.7rem !important; }

  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .p-lg-6 {
    padding: 3.2rem !important; }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 2rem; }

  .forms-col-1 {
    padding: 1rem 3rem; }

  .mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important; }

  .text-default {
    color: #495057 !important; }

  .row-cardsBox {
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%; }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-8 {
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%; }

  .mt-lg-0, .my-lg-0 {
    margin-top: 0 !important; }

  .ml-lg-auto, .mx-lg-auto {
    margin-left: auto !important; }

  .col-lg-4 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto !important;
    max-width: none; }

  .col-lg-map {
    -ms-flex: 0 0 66.666666666666%;
    flex: 0 0 66.66666666666666%;
    max-width: 66.66666666666666%; }

  #worldMap {
    padding: .4rem 2.5rem; }

  #chinaMap {
    height: 25.3rem;
    padding: 0 2.5rem; }

  .card-none {
    display: none !important; }

  .card-flex {
    display: flex !important; } }
@media (min-width: 1280px) {
  .container {
    max-width: 1200px; }

  .card-bodyBox {
    height: 19.2rem !important; }

  .col-xl-4 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%; } }

/*# sourceMappingURL=index.css.map */
